@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Monserrat;
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: MonserratSB;
    src: url("./fonts/Montserrat-SemiBold.ttf");
  }
}

@layer components {
  .btn-section {
    @apply w-full flex gap-2 justify-center items-center 
      tracking-wide text-white transition-[border] duration-300  pb-1 pt-3.5 
      bg-blue-500 rounded-sm border-b-4 border-b-blue-600  hover:border-b-blue-500
  }

  .line {
    position: relative;
  }

  /* Long line column */
  .line:not(.line:last-child)::after {
    content: '';
    background-color: theme(backgroundColor.slate.200);
    position: absolute;
    width: theme(width.2);
    height: calc(var(--headerLineHeight) + theme(width.2));
    top: 100%;
    left: 100%;
  }

  /* Header line */
  .line:not(.line:last-child)::before {
    content: '';
    background-color: white;
    position: absolute;
    width: theme(width.2);
    height: var(--headerHeight);
    top: 0;
    left: 100%;
  }

}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


body {
  background-color: rgb(243 244 246);
}